@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.3; }
}

@keyframes fadeOut {
  from { opacity: 0.3; }
  to { opacity: 0; }
}

@keyframes boxShadowFadeIn {
  from { box-shadow: none; }
  to { box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3); }
}

@keyframes boxShadowFadeOut {
  from { box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3); }
  to { box-shadow: none; }
}

.recipe {
	margin-bottom: 40px;
}

.recipe .card-header {
	background-color: white;
}

.recipe .card-header {
  display: flex;
  justify-content: space-between;
}

.recipe .edit-btn,
.recipe .apply-btn {
  margin: -2px;
  width: 60px;
}

.recipe .header-tab {
  cursor: pointer;
  /*color: rgb(80, 185, 80);*/
  color: #007BFF;
}

.recipe .show-more {
  padding: 0px;
  /*color: rgb(80, 185, 80);*/
}

.recipe button {
  border: none;
  outline: none !important;
  color: #a0a0a0;
}

.recipe-fade-in {
  z-index: 11;
  animation: boxShadowFadeIn 0.2s ease-in-out both;
}

.recipe-fade-out {
  z-index: none;
  animation: boxShadowFadeOut 0.2s ease-in-out both;
}

.backdrop {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
  /*display: block;*/
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out both;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out both;
}

.new-recipe-btn {
  background-color: white !important;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08) !important;
  margin-bottom: 20px;
  font-size: 20px !important;
  /*height: 63px;*/
}

.new-recipe-btn:hover {
}