.supplies {
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
}

.new-food-item {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  font-size: 22px;
  padding: 10px;
}

.new-food-item input {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: #F9F9F9;
  margin-right: 30px;
  color: #555;
  height: 42px;
}

.new-food-item .btn {
  border: none;
  outline: none;
  padding: 12px 20px;
  margin-left: 10px;
  background-color: #F9F9F9;
  height: 42px;
  margin-top: -5px;
}

.new-food-item input.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.food-item-list {
  padding-bottom: 100px;
  z-index: 8;
}

.food-item {
  transition: 0.3s all;
}

.food-item-hover {
  cursor: cell;
  transform: scale(1.01);
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  z-index: 9;
  border-color: white;
}

.food-item .row {
  height: 50px;
}

.food-item .name, 
.food-item .quantity {
  padding: 10px;
}

.food-item input {
  background-color: #F9F9F9;
  border: none;
  outline: none;
}

.food-item input.quantity {
  text-align: center;
  width: 100px;
}

.food-item input.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.food-item .btn {
  z-index: 10;
}