body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand {
  color: rgb(80, 185, 80);
  font-weight: bold;
}

.brand-large {
  font-size: 80px;
}

.form-group {
	max-width: 500px;
}

.navbar {
  margin-bottom: 50px;
   border-bottom: 1px solid rgb(80, 185, 80, 0.1);
}

.form-inline .form-control {
  margin-right: 5px;
}