body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand {
  color: rgb(80, 185, 80);
  font-weight: bold;
}

.brand-large {
  font-size: 80px;
}

.form-group {
	max-width: 500px;
}

.navbar {
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(80, 185, 80, 0.1);
}

.form-inline .form-control {
  margin-right: 5px;
}

.dropdown-toggle {
  color: rgb(80, 185, 80) !important;
} 

.card {
  margin-top: 10px;
}

.card h4, h5 {
  margin: 0px;
}

.new-recipe-add-icon {
  font-size: 36px;
  font-style: normal;
  font-weight: lighter;
  transition: 0.3s all;
  position: absolute;
  right: 30px;
  top: 20px;
}

.new-recipe-add-icon:hover {
  cursor: pointer;
  font-size: 45px;
  right: 27px;
  top: 16px;
}

.new-recipe-name {
  border: none;
  outline: none;
  font-size: 30px;
}

.new-recipe-description {
  border: none;
  outline: none;
  font-size: 20px;
}

.new-recipe button {
  border: none;
  outline: none;
}